App/JDownloader/cfg/
App/JDownloader/JD2.lock
App/JDownloader/JD2.port
App/JDownloader/JDownloader.pid
App/JDownloader/logs/
App/JDownloader/tmp/hosterCache
App/JDownloader/tmp/jna/
App/JDownloader/tmp/update/
Data/
